In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

ðŸŸ© Export to CSV (2.9.1) - Problem
Pandas Exporting Data
Problem Statement:

Export the DataFrame to a CSV file named data_jobs_export.csv without including the index. Inspect the contents of the CSV exported.
Hint:

Use the to_csv() function with the index parameter set to False.

In [3]:
df.to_csv('data_jobs_export.csv',index=False, sep=',')

ðŸŸ¨ Filter and Export to CSV (2.9.2) - Problem
Pandas Exporting Data
Problem Statement:

    Filter the DataFrame to include only job postings with 'Data Scientist' in the job_title_short column.
    Export the filtered DataFrame to a CSV file named data_scientist_jobs.csv without including the index.
    Inspect that the CSV has been exported with the correct filtered data.

Hint:

Use the to_csv() function with the index parameter set to False after filtering the DataFrame using boolean indexing.

In [6]:
df_ds_jobs=df[df['job_title_short']=='Data Scientist']
df_ds_jobs.to_csv('data_scientist_jobs.csv',index='False')

ðŸŸ¥ Export to Excel (2.9.3) - Problem
Pandas Exporting Data
Problem Statement:

    Filter the DataFrame to include only job postings with 'New York, NY' in the job_location column.
    Export the filtered DataFrame to an Excel file named new_york_jobs.xlsx without including the index.
    Display the first 5 rows of the filtered DataFrame to confirm the export.

Hint:

Use the to_excel() function with the index parameter set to False. You will need to conda install openpyxl library for this.

In [13]:
df_ny_jobs=df[df['job_location']=='New York, NY']
df_ny_jobs.to_excel('new_york_jobs.xlsx',index=False)
pd.read_excel('new_york_jobs.xlsx').head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Data Engineer,"New York, NY",via LinkedIn,Full-time,False,"Texas, United States",2023-11-15 13:08:52,True,True,United States,NaN,NaN,NaN,Nayya,"['python', 'sql', 'go', 'ruby', 'ruby', 'javas...","{'cloud': ['aws'], 'other': ['terraform'], 'pr..."
1,Data Engineer,Data Engineer,"New York, NY",via LinkedIn,Full-time,False,"New York, United States",2023-05-08 13:08:15,False,True,United States,NaN,NaN,NaN,Career Search Partners,"['sql', 'python', 'sql server', 'excel', 'flow...","{'analyst_tools': ['excel'], 'databases': ['sq..."
2,Senior Data Engineer,Cyber Senior Data Engineer,"New York, NY",via LinkedIn,Full-time,False,"Illinois, United States",2023-12-22 13:06:34,False,False,United States,NaN,NaN,NaN,New York City Office of Technology & Innovation,"['java', 'python', 'r', 'gcp', 'aws', 'azure',...","{'cloud': ['gcp', 'aws', 'azure'], 'libraries'..."
3,Data Analyst,Financial Systems â€“ Business Analyst/ Data Ana...,"New York, NY",via Redstream Technology,Full-time,False,"New York, United States",2023-06-25 13:00:01,False,False,United States,NaN,NaN,NaN,RedStream Technology,"['sql', 'excel', 'visio', 'powerpoint', 'word']","{'analyst_tools': ['excel', 'visio', 'powerpoi..."
4,Data Analyst,Reporting Data Analyst,"New York, NY",via ZipRecruiter,Full-time,False,"New York, United States",2023-10-18 13:00:14,True,False,United States,NaN,NaN,NaN,Arsenault,"['sql', 'excel', 'microstrategy']","{'analyst_tools': ['excel', 'microstrategy'], ..."