In [19]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])


ðŸŸ© Remove Rows with Missing Values (2.2.1) - Problem
Pandas Data Cleaning
Problem Statement:

Remove rows where the salary_year_avg column has missing values. Display the number of rows before and after removing.
Hint:

Use the df.dropna() function with the subset parameter set to salary_year_avg.

In [5]:
df_remove_na_sal_year_avg = df.dropna(subset='salary_year_avg')
print(f'Rows before removing NA yearly average salary: {len(df)}\nRows after removing NA yearly average salary: {len(df_remove_na_sal_year_avg)}')

Rows before removing NA yearly average salary: 785741
Rows after removing NA yearly average salary: 22003

ðŸŸ¨ Remove Duplicate Rows (2.2.2) - Problem
Pandas Data Cleaning
Problem Statement:

Remove duplicate rows from the DataFrame based on the job_location column. Display the number of rows before and after removing duplicates.
Hint:

Use the df.drop_duplicates() function with the subset parameter set to job_location.

In [ ]:
df_unique_location = df.copy()

df_unique_location = df_unique_location.drop_duplicates(subset='job_location')

print(f'Rows before: {len(df)}\n Rows after: {len(df_unique_location)}')

Rows before: 785741
 Rows after: 17218


ðŸŸ¨ Fill Missing Values in Column (2.2.3) - Problem
Pandas Data Cleaning
Problem Statement:

Fill missing values in the salary_rate column with the string 'Unknown'. Display the first 10 rows of the salary_rate column before and after filling.
Hint:

Use the df.fillna() function with the value parameter set to 'Unknown'.

In [20]:
'''
df_salary_filled = df.copy()
df_salary_filled['salary_rate'] = df_salary_filled['salary_rate'].fillna('Unknown')
print(f"{df.loc[:9,'salary_rate']}\n"
      f"{df_salary_filled.loc[:9,'salary_rate']}")
      '''
salary_rate_before = df['salary_rate'].head(10)
df_filled = df.fillna({'salary_rate': 'Unknown'})
salary_rate_after = df_filled['salary_rate'].head(10)
salary_rate_before, salary_rate_after

(0    None
 1    None
 2    None
 3    None
 4    None
 5    None
 6    None
 7    None
 8    None
 9    None
 Name: salary_rate, dtype: object,
 0    Unknown
 1    Unknown
 2    Unknown
 3    Unknown
 4    Unknown
 5    Unknown
 6    Unknown
 7    Unknown
 8    Unknown
 9    Unknown
 Name: salary_rate, dtype: object)